.buttonsContainer {
  display: flex;
  gap: 20px;
}

.clock {
  font-family: 'Montserrat';
  font-size: 22px;
  padding: 0 0 100px 70px;
}

.watch {
  margin-bottom: 8px;
}

.watch strong {
}

.more {
  margin-bottom: 20px;
  font-size: 16px;
  color: #b6b5b5;
}