.friendMessage {
  margin-left: 70px;
}

.friendImageAndText {
  display: flex;
  align-items: flex-end;
}

.friendImageAndText img {
  height: 50px;
  width: 50px;
}

.friendText {
  background-color: #F5F7FB;
  color: #000000;
  padding: 7px 13px;
  border-radius: 8px;
  margin-left: 10px;

  position: relative;
}

.friendText:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 15px 15px 0px;
  border-color: transparent #F5F7FB transparent transparent;
  transform: rotate(90deg);
  z-index: 1;
}

.friendName {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
}

.friendMessageText {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
}

.friendTime {
  margin: 5px 11px;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 600;
}
