.container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-left: 70px;
  gap: 20px;
  margin-bottom: 80px;
}

.wrapper {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  position: relative;
}

.number {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: -30px;
}

.numberLeft {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: -30px;
}

.numberRight {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  right: -45px;
}